.form-signin, .form-register, .form-changepass, .form-recommendation, .form-place {
    padding: 15px;
    margin: 0 auto;
}

.form-signin, .form-register, .form-changepass, .form-recommendation {
    max-width: 400px;
}

.form-place {
    max-width: 550px;
}