@if (Request.IsAuthenticated) {
    <div class="navbar-right">
        
        <span class="navbar-text">
        You are logged as 
        
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", 
            routeValues: null, 
            htmlAttributes: new { @class = "username", title = "Manage" })
        </span>

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form navbar-right" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default">Log off</a>
        }
    </div>
} else
{
    Html.RenderAction("Login", "Account");
}

